body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

.box {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  width: 300px;
}
#submitForm {
  background-color:#dbe823;
  border: 2px solid green;
}

#temperatureResult {
  background-color:#0fefbd;
  border: 2px solid green;
}
